<% provide(:title, 'All Events') %>
<h1>All Events</h1>

<ul class="events">
	<h3>Upcoming Events</h3>
  <% @upcoming_events.each do |event| %>
    <li>
    	<%= link_to event.title, event %>
    </li>
	<% end %>
    <hr>
    <h3>Past Events</h3>
  <% @past_events.each do |event| %>
    <li>
    	<%= link_to event.title, event %>
    </li>
  <% end %>
</ul>