<footer class="footer">
  <small>
    A Private Events App
    by <a href="http://www.deserthorsedesigns.com">Amy J</a>
  </small>
  <nav>
    <ul>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><a href="http://www.theodinproject.com">A product thanks to - The Odin Project</a></li>
    </ul>
  </nav>
</footer>